:root {
  --background-colour: #131516;
  --foreground-colour: #221b25;
  --button-background-colour: #490755;
  --text-colour: #fff;
  --button-text-colour: var(--text-colour);
  --disabled-text-colour: #ddd;
  --border-colour: #555;
  --link-colour: #660011;
  --visited-link-colour: #8d2a3a;
  --pad-colour: #3a1649;
  --hover-pad-colour: #491635;
  --on-pad-colour: #338d85;
  --playing-pad-colour: #184916;

  --body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  --small-radius: 2px;
  --mid-radius: 8px;
  --large-radius: 20px;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: var(--text-colour);
  background-color: var(--background-colour);
  font-family: var(--body-font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--link-colour);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--visited-link-colour);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid var(--border-colour);
  border-radius: var(--small-radius);
}

input:disabled {
  color: var(--disabled-text-colour);
}

button {
  color: var(--button-text-colour);
  background-color: var(--button-background-colour);
  border-color: var(--border-colour);
  outline: none;
}

button:disabled {
  color: var(--disabled-text-colour);
}
